<!DOCTYPE html>
<html>
<head>
    <title>WebGames</title>
    <meta charset="UTF-8">    
    <link rel="stylesheet" href="login.css">    
</head>

<body>

<div align='right'>
    Welcome <%= user.username%>  <a href='/logout'>Logout</a>
</div>

<h2>WebGames</h2>

<ol>
<li><a href='/snake-single-player'>vintage-snake</li>
</ol>

</body>

</html>