<!DOCTYPE html>
<html>
<head>
    <title>WebGames-Register</title>
    <meta charset="UTF-8">    
    <link rel="stylesheet" href="login.css">    
</head>

<body>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>WebGames</h1>
					<h1>Create New Account</h1><br>
				  <form action="" method="post">
						<input type="text" name="username" placeholder="Username">
						<input type="password" name="password" placeholder="Password">
						<input type="submit" name="login" class="login loginmodal-submit" value="Create">
				  </form>
					
					
				  <div class="login-help">
					<a href="/register">Register</a> - <a href="#">Forgot Password</a>
				  </div>
					
				</div>
			</div>
		  </div>

</body>

</html>