<!DOCTYPE html>
<html>
<head>
    <title>HTML5 Canvas Snake Game</title>
    <meta charset="UTF-8">    
    <style>#canvas{border:1px solid black;}</style>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">    
</head>

<body onload="onLoad()">

<div align='right'>
    Welcome <%= user.username%>  <a href='/logout'>Logout</a>
</div>

<div align='center'>
    <h1>nokia-snake</h1>
    <p>Use the up/down/left/right keys to manuver the snake around and feed it.<br>
    Avoid colliding with the walls. <br>
    Click on the start button to start the game
    </p>
    <canvas id="canvas" width="450" height="450"></canvas><br>
    <button id="startButton" onclick="startGame()">start</button>    
</div>

<script src="jquery/dist/jquery.js"></script>
<script src="bootstrap/dist/js/bootstrap.js"></script>
<script src="snake-single-player.js"></script>

</body>

</html>